permalink: /about/
title: Me
layout: default.liquid
data:
  route: about
---
<p>
    PGP/GPG ID: BAD2804227A0AF05
</p>
<p>
    Key fingerprint: 9AD4 2FE9 2242 5C9D 93E6  0B43 BAD2 8042 27A0 AF05
</p>

