extends: default.liquid

title: Ben Yip's Notes
route: blog
---

{% for post in posts %}
  <article>
    <h1><a href="{{ post.path }}">{{ post.title }}</a></h1>
    {%  assign content = post.content | split: "<hr />"  %}
    <p> {{ content | first  }}</p>
    <div class="read-more"> <a href="{{ post.path }} ">Read More...</a> </div>
  </article>
{% endfor %}
