<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ page.title }}</title>
<link href=" https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css " rel="stylesheet">
<link
  rel="stylesheet"
  href="/statics/style.css"
  type="text/css"
  media="all" />
<link
  rel="alternate"
  href="/rss.xml"
  type="application/rss+xml"
  title="RSS" />
<link href="https://mastodon.social/@bennyyip" rel="me">

<link rel="shortcut icon"
  sizes="32x32"
  href="favicon.ico">
{% comment %} <link rel="icon" sizes="any" type="image/svg+xml" href="assets/icons/favicon.svg"> {% endcomment %}

<script>
  (function(u, c) {
    var d = document,
      t = 'script',
      o = d.createElement(t),
      s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) {
      o.addEventListener('load', function(e) {
        c(e);
      });
    }
    s.parentNode.insertBefore(o, s);
  })('//cdn.jsdelivr.net/npm/pangu@4.0.7/dist/browser/pangu.min.js', function() {
    pangu.spacingPage();
  });
</script>
