<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ page.title }}</title>
<link href=" https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css " rel="stylesheet">
<link
  rel="stylesheet"
  href="/statics/style.css"
  type="text/css"
  media="all" />
<link
  rel="alternate"
  href="/rss.xml"
  type="application/rss+xml"
  title="RSS" />
<link href="https://mastodon.social/@bennyyip" rel="me">
<script src="https://cdn.jsdelivr.net/npm/pangu@4.0.7/dist/browser/pangu.min.js"></script>

<link
rel="shortcut icon"
  sizes="32x32"
  href="favicon.ico">
{% comment %} <link rel="icon" sizes="any" type="image/svg+xml" href="assets/icons/favicon.svg"> {% endcomment %}

<script>
  document.addEventListener('DOMContentLoaded', () => {

// listen to any DOM change and automatically perform spacing via MutationObserver()
    pangu.autoSpacingPage();
  });
</script>
